<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712368372491-2lar3rbh5eef69p44dddhu61o98sb0oo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712368372491-2lar3rbh5eef69p44dddhu61o98sb0oo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>712368372491-25dukf5g06cmmrapgukb35nu4p49sq0g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAnYUu0-VsmpsuRir76WL9__j5YbHfuRdg</string>
	<key>GCM_SENDER_ID</key>
	<string>712368372491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TheUndergrad</string>
	<key>PROJECT_ID</key>
	<string>app-venda</string>
	<key>STORAGE_BUCKET</key>
	<string>app-venda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712368372491:ios:1621202ff1daf26021400e</string>
	<key>DATABASE_URL</key>
	<string>https://app-venda.firebaseio.com</string>
</dict>
</plist>